@import url("reset.css");
p{
  text-align: Center;
  font-size: 25px;
  font-family: Impact;
  color:pink;
}
h1{
  text-align: Center;
  font-size: 50px;
  font-family: Impact;
  color:pink;
}
span{
  color:pink;
  cursor:crosshair;
}
body{
  background-image:url("https://www.panicstudio.tv/assets-user/projects/69/290/Planet_Website.gif");
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: black;
}
button{
background-color:pink;
width:49%;
margin-left: 10px;
color: white;
font-size: 25px;
border-radius: 2em;
text-decoration: none;
}
