@import url("reset.css");


body{
  background-image:url("https://media0.giphy.com/media/vJPrhjj5X0eyY/giphy.gif");
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: pink;
}

header{
  background-color: pink;
  width: 1600px;
}
nav ul li {
  display: inline-block;
  width: 33%;
  font-size: 25px;
  background color: pink;
}
